.ProseMirror {
  outline: none;
  position: relative;
  box-sizing: border-box;
}

.ProseMirror *:first-child {
  margin-top: 0;
}

/* placeholder */
.ProseMirror p.is-editor-empty:first-child:before {
  color: #351c1c4d;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* BlockQuote */
.ProseMirror .block-quote {
  border-left: 3px solid #3d25141f;
  margin: 1.5rem 0;
  padding-left: 1rem
}

/* CodeBlock */
.ProseMirror .code-block {
  background-color: #0d1117;
  border-radius: 8px;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.ProseMirror .code-block code {
  background: none;
  color: #fff;
  font-size: 0.8rem;
  padding: 0;
}

.ProseMirror .code-block :is(
  .hljs
) {
  color: #c9d1d9;
}

.ProseMirror .code-block :is(
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ 
) {
  color: #ff7b72;
}

.ProseMirror .code-block :is(
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_
) {
  color: #d2a8ff;
}

.ProseMirror .code-block :is(
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id
) {
  color: #79c0ff;
}

.ProseMirror .code-block :is(
  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string
) {
  color: #a5d6ff;
}

.ProseMirror .code-block :is(
  .hljs-built_in,
  .hljs-symbol
) {
   color: #ffa657;
}

.ProseMirror .code-block :is(
  .hljs-comment,
  .hljs-code,
  .hljs-formula
) {
   color: #8b949e;
}

.ProseMirror .code-block :is(
  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo
) {
   color: #7ee787;
}

.ProseMirror .code-block :is(
  .hljs-subst
) {
  color: #c9d1d9;
}

.ProseMirror .code-block :is(
  .hljs-section
) {
  color: #1f6feb;
  font-weight: bold;
}

.ProseMirror .code-block :is(
  .hljs-bullet
) {
   color: #f2cc60;
}

.ProseMirror .code-block :is(
  .hljs-emphasis
) {
  color: #c9d1d9;
  font-style: italic;
}

.ProseMirror .code-block :is(
  .hljs-strong
) {
  color: #c9d1d9;
  font-weight: bold;
}

.ProseMirror .code-block :is(
  .hljs-addition
) {
  color: #aff5b4;
  background-color: #033a16;
}

.ProseMirror .code-block :is(
  .hljs-deletion
) {
  color: #ffdcd7;
  background-color: #67060c;
}

/* Pages */
.ProseMirror.tiptap-pages {
  width: 595px;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 69px 76px 44px 76px;
}
